In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

In [2]:
df = pd.read_csv('cosmetic.csv')

In [3]:
df.head(10)

       date       client                            procedure         salon
0  02/05/16         Haxe              Shampoo/Cut & Style Dry       Elegant
1  02/05/16     Sheremet                       Bamboo Massage  Radisson Blu
2  02/05/16    Gevorgyan      Elemis AromaSpa Seaweed Massage  Radisson Blu
3  02/05/16      Boorlyk                        Acrylic Nails  Radisson Blu
4  02/05/16  Zavorotnikh  Elemis Total Glow Tanning Treatment       Elegant
5  03/05/16        Drozd             Island Braiding/Cornrows       Elegant
6  03/05/16      Arbuzov            Shampoo, blow wave or set       Elegant
7  03/05/16      Zhidkih                          Acupuncture  Radisson Blu
8  03/05/16        Tupis                        Acrylic Nails  Radisson Blu
9  03/05/16        Kisly                          Hair put-up  Radisson Blu

In [4]:
df_price = pd.read_csv('procedure_price.csv')
df_price.head(5)

  Unnamed: 0            Unnamed: 1 Unnamed: 2
0    Massage           Acupuncture       $150
1    Massage       Swedish Massage        $75
2    Massage  Thai Herbal Poultice       $195
3    Massage        Bamboo Massage       $159
4    Massage       Couples Massage       $269

In [5]:
client_list = []

for elem in df['client'].unique():
    if type(elem) == str:
        client_list.append(elem)
    else:
        continue

In [6]:
loss_pr = []

for elem in client_list:
    score = 0
    for row in df['client'].all():
        if elem in row:
            score +=1
        else:
            continue
    loss_pr.append(score)
    
data = {'Defender': list(client_list),
        'Loss': loss_pr}
protection_loss = pd.DataFrame(data)
protection_loss

        Defender  Loss
0           Haxe     0
1       Sheremet     0
2      Gevorgyan     0
3        Boorlyk     0
4    Zavorotnikh     0
5          Drozd     0
6        Arbuzov     0
7        Zhidkih     0
8          Tupis     0
9          Kisly     0
10     Petraniuk     0
11    Synkivskij     0
12    Rusmanenko     0
13       Avagyan     0
14       Vikhrov     0
15        Drutsa     0
16     Proskurin     0
17         Santo     0
18       Shpirka     0
19       Martens     0
20      Morozova     0
21          Kann     0
22         Barda     0
23    Shukakidze     0
24   Danchenkova     0
25  Kalenichenko     0
26        Kalysh     0
27    Chelyadina     0
28        Bakhor     0
29        Bozhko     0
30  Zvjagintseva     0
31    Borovskaya     0
32        Gerwyn     0
33     Liahushyn     0
34       Shubina     0
35       Moseley     0
36           Les     0
37     Khyzhniak     0
38     Martyniuk     0
39         Mural     0
40        Shiyan     0
41    Rozdobudko     0