# Financial analysis of the two Beauty Salons

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

### Merge two financial reports

In [19]:
df1 = pd.read_csv('Elegant.csv')
df1['salon'] = 'Elegant'

df2 = pd.read_csv('Radisson_Blu.csv')
df2['salon'] = 'Radisson Blu'

frames = [df1, df2]

df = pd.concat(frames)
df.sort_values(by='date')
# df.reindex()

         date      client             procedure price  deposit         salon
0   May 2, 16        Haxe        Bamboo Massage  $159      NaN       Elegant
1   May 2, 16   Petraniuk         Acrylic Nails   $32      NaN       Elegant
2   May 2, 16    Sheremet         Acrylic Nails   $32      NaN       Elegant
3   May 3, 16  Rusmanenko            Fire & Ice  $350      NaN       Elegant
4   May 3, 16       Kisly         Acrylic Nails   $32      NaN       Elegant
0   May 3, 16       Garty       Couples Massage  $269      NaN  Radisson Blu
5   May 4, 16       Tupis       Couples Massage  $269      NaN       Elegant
6   May 4, 16     Avagyan  Thai Herbal Poultice  $195      NaN       Elegant
1   May 4, 16       Brown        Bamboo Massage  $159      NaN  Radisson Blu
7   May 5, 16  Synkivskij        Bamboo Massage  $159      NaN       Elegant
8   May 5, 16     Vikhrov         Acrylic Nails   $32      NaN       Elegant
9   May 5, 16        Haxe       Swedish Massage   $75      NaN       Elegant
10  May 5, 16      Drutsa          Deck Massage   $15      NaN       Elegant
11  May 6, 16    Sheremet         Acrylic Nails   $32      NaN       Elegant