# Financial analysis of the two Beauty Salons

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

### Merge two financial reports

In [38]:
df1 = pd.read_csv('Elegant.csv')
df1['salon'] = 'Elegant'

df2 = pd.read_csv('Radisson_Blu.csv')
df2['salon'] = 'Radisson Blu'

frames = [df1, df2]

df = pd.concat(frames)
df.sort_values(by='date')

         date      client             procedure  price  deposit         salon
0   May 2, 16        Haxe        Bamboo Massage    159      NaN       Elegant
1   May 2, 16   Petraniuk         Acrylic Nails     32      NaN       Elegant
2   May 2, 16    Sheremet         Acrylic Nails     32      NaN       Elegant
3   May 3, 16  Rusmanenko            Fire & Ice    350      NaN       Elegant
4   May 3, 16       Kisly         Acrylic Nails     32      NaN       Elegant
0   May 3, 16       Garty       Couples Massage    269      NaN  Radisson Blu
5   May 4, 16       Tupis       Couples Massage    269      NaN       Elegant
6   May 4, 16     Avagyan  Thai Herbal Poultice    195      NaN       Elegant
1   May 4, 16       Brown        Bamboo Massage    159      NaN  Radisson Blu
7   May 5, 16  Synkivskij        Bamboo Massage    159      NaN       Elegant
8   May 5, 16     Vikhrov         Acrylic Nails     32      NaN       Elegant
9   May 5, 16        Haxe       Swedish Massage     75      NaN       Elegant
10  May 5, 16      Drutsa          Deck Massage     15      NaN       Elegant
11  May 6, 16    Sheremet         Acrylic Nails     32      NaN       Elegant

### Profit for each salon

In [7]:
salons = []
for elem in df['salon'].unique():
    salons.append(elem)
days = []
for elem in df['date'].unique():
    days.append(elem)
    

# for elem in salons:
#     for row in df['Defender'][df['Outcome'] == 'win']:
#         if elem in row:
#             score +=1
#         else:
#             continue
#     loss_pr.append(score)
sum_rb = []; sum_el = []    
for elem in days:
    res = 0
    for row in df2['date'][df2['price'] != 0 ]:
        if elem in row:
            print(df2['price'].values)
            res += df2['price'].values
            
    sum_rb.append(res)
sum_rb
# days

[269 159]
[269 159]

[0, array([269, 159]), array([269, 159]), 0, 0]

In [37]:
s1 = pd.Series(df1['price'].values, index = df1['date'])
s2 = pd.Series(df2['price'].values, index = df2['date'])
s1.add(s2,fill_value = 0)
s1.groupby(level = 'date').sum()
# s1.set_value()
# print(s1)
# s2
s1

date
May 2, 16    159
May 2, 16     32
May 2, 16     32
May 3, 16    350
May 3, 16     32
May 4, 16    269
May 4, 16    195
May 5, 16    159
May 5, 16     32
May 5, 16     75
May 5, 16     15
May 6, 16     32
dtype: int64

In [30]:
test1 = pd.Series([1,2,3], index = ['a','a','b'])
test1.groupby(level=index).sum()

NameError: name 'index' is not defined